{% extends "admin/base_site.html" %} {% load i18n %} {% block content %}
<div class="password-wrapper">
  <div class="password-container">
    {% if user.is_authenticated %} {% include
    "account/snippets/already_logged_in.html" %} {% endif %} {% block
    branding_logo %}
    <div class="logo-wrapper">
      <img
        src="https://gateway.pinata.cloud/ipfs/Qmbp8MoToZqn5YcM9K2Jwb8ock2fRVgw9EvnsQ6TyktMQM"
        style="height: 40px; width: 150px"
        alt="Logo"
      />
    </div>
    {% endblock %}
    <p style="margin-top: 54px; margin-bottom: 20px">
      {% trans "Has solicitado un cambio de contraseña. Para poder reestablecer
      tu contraseña, Ingrese su dirección de correo electrónico a continuación y
      le enviaremos un correo electrónico que le permitirá restablecerla." %}
    </p>

    <form method="POST" class="password_reset">
      {% csrf_token %}

      <input
        type="email"
        style="
          background-color: #e5eefe;
          color: #64748b;
          width: 338px;
          height: 28px;
        "
        placeholder="Mail"
        name="email"
        autocomplete="email"
        maxlength="254"
        required=""
        id="id_email"
      />
      <div
        class="password-reset-link"
        style="padding-top: 20px; text-align: left"
      >
        <a href="/admin/login/?next=/admin/" style="color: #db9f73"
          >{% translate 'Volver a iniciar sesión' %}</a
        >
      </div>
      <input
        type="submit"
        style="
          background-color: #db9f73;
          width: 100%;
          height: 44px;
          margin-top: 20px;
        "
        value="{% trans 'Actualizar acceso' %}"
      />
    </form>
  </div>
</div>
{% endblock %}
