{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "500 Internal Server Error" %}</title>
    <style>
        /* Your custom CSS styles go here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
        }

        .container {
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 48px;
            color: #ff5733;
        }

        p {
            font-size: 18px;
            color: #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{% translate "Oops! Something Went Wrong" %}</h1>
        <p>{% translate "We're experiencing technical difficulties. Please try again later." %}</p>
        <p>{% translate "If the issue persists, you can contact our support team." %}</p>
    </div>
</body>

</html>